<div id="app-name-input" class="flex justify-center items-center bg-gray-700 pt-10 pb-10">
  <div class="mr-10 md:mr-0">
    <label for="app-name">      
      <span class="px-5 my-3 text-gray-500">Enter the name of your awesome app!</span>
    </label>
    <input name="app-name" data-target="app-name.input" data-action="keyup->app-name#update"
      autocomplete="off"
      placeholder="my_app"
      class="appearance-none w-full px-5 py-3 border-2 border-gray-300 text-base leading-6 mx-5 rounded-md text-gray-800 bg-white placeholder-gray-500 focus:outline-none focus:border-yellow-400 transition duration-150 ease-in-out max-w-lg">            
  </div>
</div>
