<div
  class="sm:flex-wrap md:flex lg:flex xl:flex items-center justify-center divide-y sm:divide-y-2 md:divide-y-0 lg:divide-y-0 xl:divide-y-0 divide-gray-400 bg-gray-700 sm:pb-0 md:pb-8 lg:pb-8 xl:pb-8">
  <button
    data-action="click->clipboard#copy"
    class="block bg-purple-500 lg:rounded-lg md:rounded-lg xl:rounded-lg ml-0 md:mr-5 px-6 text-gray-100 shadow-2xl whitespace-no-wrap py-3">
    Copy to Clipboard
  </button>   
  <a href="#"
     id="verify-my-setup-link"
     class="block bg-indigo-800 
           lg:rounded-lg md:rounded-lg xl:rounded-lg
           min-w-full sm:min-w-full md:min-w-0
           text-left sm:text-left md:text-center
           ml-0 md:mr-5           
           px-6 text-gray-100 shadow-2xl whitespace-no-wrap py-3
           hidden">
    Verify My Setup
  </a>  
</div>
