<div class="max-w-4xl px-10 py-10 mx-auto pb-10">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Title
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Last finished run
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <span>Status</span>
                </th>
                <%# <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th> %>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Run</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @app_recipes.each do |app_recipe| %>
                <%= render Admin::AppRecipes::LastRun::Component.new(app_recipe: app_recipe) %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= link_to destroy_user_session_path, method: :delete, class: 'navbar-item' do %>
      <div class='text-3xl bg-red-800 text-white p-10'>
        Sign Out
      </div>
    <% end %>  
  </div>          
</div>