<div data-id="rails-menu-card-holder">
  <div class="max-w-2xl mx-auto py-6 sm:px-6 lg:px-8">
    <div data-id="rails-menu-card" class="max-w-none mx-auto">
      <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow">
        <div data-id="rails-menu-card-header" class="bg-blue-900 px-4 py-5 border-b border-gray-200 sm:px-6">
          <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
            <div class="ml-4 mt-4">
              <h3 class="text-lg leading-6 font-medium text-indigo-200">
                <%= @title %>
              </h3>
              <p class="mt-1 text-sm leading-5 text-gray-300">
                <%= @subtitle %>
              </p>
            </div>
          </div>
        </div>
        <ul data-id="rails-menu-card-data-rows" aria-disabled="true">
          <% @items.each do |item| %>
            <%= render Shared::MenuCard::RadioButton::Row::Component.new(              
              title: item[:title], 
              has_image: item[:has_image],
              description: item[:description],
              menu_card_id: item[:menu_card_id],
              command_output: item[:command_output],
              checked: item[:checked],
              html_id: item[:html_id],
              html_data_attributes: item[:html_data_attributes],
              data_controller: item[:data_controller],
              data_action: item[:data_action],
              data_target: item[:data_target],
              data_active_rails_byte: item[:data_active_rails_byte]
              ) 
            %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>