<h1 class="text-2xl">The Run</h1>

<div class="p-10 border border-black">
  <%= raw @verification_run.output_message.gsub("\n", "<br>") %>
</div>

<div class="p-10 border border-red-500 text-red-500">
  <%= raw @verification_run.error_message.gsub("\n", "<br>") %>
</div>