  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 sm:mt-0 md:mt-3 <%= sitcky_or_not(controller_name) %> bg-white">
    <nav class="relative flex items-center justify-between sm:h-10 md:justify-center">
      <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
        <div class="flex items-center justify-end w-full md:w-auto">
          <div class="-mr-4 flex items-center md:hidden mt-3"><button type="button"
              class="inline-flex items-end justify-end p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"><svg
                stroke="currentColor" fill="none" viewBox="0 0 24 24" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                </path>
              </svg></button></div>
        </div>
      </div>
      <div class="hidden md:block">
        <% @items.each do |link_name, link_path| %>        
          <a href="<%= page_path(id: link_path) %>" class="ml-10 first:ml-0 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out"><%= link_name %></a> 
        <% end %>
      </div>
    </nav>
  </div>