<div class="hidden md:hidden">
  <div class="pt-2 pb-3 space-y-1">
    <% @items.each do |link_name, link_path| %>        
      <a href="<%= page_path(id: link_path) %>"
          class="block pl-3 pr-4 my-2 border-l-4 border-transparent text-gray-600
                hover:text-gray-800 hover:bg-gray-100 hover:border-gray-400
                transition duration-150 ease-in-out"
      >
        <%= link_name %>
      </a>
    <% end %>
  </div>
</div>